[general]
# This is the base command to enable/disable mainrance mode on the nextcloud instance
# it will be appended with either `on` or `off` and called via shutil
maintance_cmd = "/usr/bin/docker compose -f /home/watten/docker/docker-compose.cloud.yml exec -ti --user www-data app /var/www/html/occ maintenance:mode"
log_dir = "/home/watten/log"
source_dir ="/mnt/cloud/html/data/"
tmp_dir="/mnt/cloud/backup_tmp"
target_dir="/mnt/media/cloud_backup"
num_differential_backups = 5
num_full_backups = 1
days_between_backups = 7 # This is in days
days_between_diff_backups = 1 # also in days


[database]
username="nextcloud"
password="QuGQ2oRAe6YLn9zuXuU8"
db_name="nextcloud"

[docker]
enable = true
nc_container_name= "app"
db_container_name= "db"
compose_file="/home/watten/docker/docker-compose.cloud.yml"

[encryption]
enable = true
password = "enRwdFR6S0crakhWS3JobFFkNm1OaFlmSUc0YklLRVNYRXlMM2N5UzZyUT0=.aTFBWlBLbEl0bFFzNmFtNg=="

[remote]

[remote.cocytus]
enable = true
address = "cocytus"
target_dir = "/mnt/cloud_backup/restore_points"
# num_of_backups = 5 # not used yes
username = "cloud_backup"
# remote_cmd = "" # remote command to run after finish (not impl yet)
ssh_key = "/home/watten/.ssh/id_ecdsa"
run_as = "watten"

[notifier]
discord-webhook = ""
